*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/deviceStreaming.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/checkstyle-idea.xml
/.idea/deploymentTargetSelector.xml
/.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/runConfigurations.xml
/app/release/app-release.apk
/app/release/output-metadata.json
/app/CameraBackFront_20210618.apk
